.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.btn__md {
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.btn__sm {
  padding: 0.8rem 2.4rem;
}
.btn__outline {
  font-family: gg-medium;
}

.btn__unstyled {
  background-color: var(--primary-blue);
  color: var(--primary-light);
  font-family: gg-regular;
}

.btn__contained {
  background-color: var(--primary-blue);
  color: var(--primary-light);
  font-family: gg-medium;
}

.btn__primary {
  background-color: var(--primary-blue);
  color: var(--primary-light);
}
.btn__secondary {
  background-color: var(--primary-light);
  color: var(--primary-blue);
}
