* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: gg-semibold;
  src: url("./assets/fonts/galanogrotesque-semibold.otf");
}
@font-face {
  font-family: gg-regular;
  src: url("./assets/fonts/galanogrotesque-regular.otf");
}
@font-face {
  font-family: gg-medium;
  src: url("./assets/fonts/galanogrotesque-medium.otf");
}
