* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

@font-face {
  font-family: gg-semibold;
  src: url("./assets/fonts/galanogrotesque-semibold.otf");
}
@font-face {
  font-family: gg-regular;
  src: url("./assets/fonts/galanogrotesque-regular.otf");
}
@font-face {
  font-family: gg-medium;
  src: url("./assets/fonts/galanogrotesque-medium.otf");
}

:root {
  --primary-blue: #146eb4;
  --secondary-blue: #f3f7fb;
  --primary-grey: #fafafa;
  --secondary-grey: #f2f2f2;
  --tertiary-grey: #d9d9d9;
  --primary-dark: #1a181e;
  --secondary-dark: #4d4d4d;
  --primary-light: #ffffff;
}

.heading__lg {
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-family: gg-semibold;
  margin-bottom: 1.6rem;
}

.body {
  font-family: gg-regular;
  font-size: 2rem;
  line-height: 2.8rem;
}

.font__primary-dark {
  color: var(--primary-dark);
}

.font__secondary-dark {
  color: var(--secondary-dark);
}

.heading__md {
  font-family: gg-medium;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
